name: CI  Pipeline for pipeline

on:
  push:
    branches:
      - ft/pipeline
      - main
      - dev
      - ft/setup
  pull_request:
    branches: 
      - ft/pipeline
      - main
      - dev
      - ft/setup
  workflow_dispatch:

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Install Chrome
        run: | 
         sudo apt-get update
         sudo apt-get install -y google-chrome-stable


      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Build with Maven
        run: mvn -B clean install

      - name: Run automated tests
        run: mvn test
      - name: Upload test reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
         name: surefire-reports
         path: target/surefire-reports

