name: CI Pipeline

on:
  push:
    branches:
      - ft/pipeline
      - main
      - dev
      - ft/setup
      - Christophe-Shumbusho-patch-1
  pull_request:
    branches: 
      - ft/pipeline
      - main
      - dev
      - ft/setup
      - Christophe-Shumbusho-patch-1
  workflow_dispatch:

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Build with Maven
        run: mvn -B clean install
        working-directory: ${{ github.workspace }}

      - name: Run automated tests
        run: mvn test
        working-directory: ${{ github.workspace }}
